QWidget {
    background-color: #222831;
}

QLabel#HEADER {
    font-size: 50px;
    font-family: Bold Font;
    font-weight: Bold;
    background-color: #393E46;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #EBD5AB;
}

QLabel#instruction {
    margin-bottom: 10px;
    font-family: Calibri;
    font-size: 20px;
}

QLabel#instruction2 {
    margin-bottom: 10px;
    font-family: Calibri;
    font-size: 20px;
}
               
QLabel#start_time_label, QLabel#end_time_label {
               font-size: 20px;
               }

QLineEdit {
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 15px;
    background-color: #00ADB5;
    color: #222831;
}
               
QComboBox {
    padding: 10px;
    padding-right: 40px;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: #00ADB5;
    color: #222831;
}
               
QComboBox::drop-down {
               border: none;
               width: 30px;
               }

QComboBox::down-arrow {
               border: none;
               border-left: 5px solid;
               border-right: 5px solid;
               border-top: 8px solid #222831;
               }

QComboBox  QAbstractItemView {
               background-color: #00ADB5;
               color: #222831;
               }

QPushButton#submit_button {
    padding: 10px;
    background-color: whitesmoke;
    color: #00ADB5;
    border-radius: 25px;
    font-size: 40px;
    font-family: Times New Roman;
}

QPushButton#submit_button:hover {
    background-color: #d3d3d3;
}

QPushButton#routine_button {
    padding: 15px;
    margin-top: 10px;
    background-color: #393E46;
    color: #EBD5AB;
    font-family: Calibri;
    font-size: 30px;
    border-radius: 15px;
    font-weight: Bold;
}

QPushButton#routine_button:hover {
    background-color: #00ADB5;
}

QTableWidget#routine_table {
    background-color: #393E46;
    font-size: 18px;
}

QTableWidget#routine_table::item {
    padding: 10px;
    color: #EBD5AB;
}

QHeaderView::section {
    background-color: #00ADB5;
    color: #222831;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

QPushButton#save_button {
    padding: 10px;
    margin-top: 10px;
    background-color: #00ADB5;
    color: #222831;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

QPushButton#save_button:hover {
    background-color: #00CDD5;
}

QPushButton#load_button {
    padding: 10px;
    margin-top: 5px;
    background-color: #393E46;
    color: #EBD5AB;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

QPushButton#load_button:hover {
    background-color: #4A4F56;
}